.wrapper {
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.buttons-wrapper input {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-right: 20px;
}

.buttons-wrapper button {
    background-color: #644aff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    max-width: 300px;
}

.buttons-wrapper button:hover {
    background-color: #232d61;
}

.buttons-wrapper button:active {
    background-color: #525f9c;
}

.notification {
    color: red;
    font-size: 25px;
}

table {
    width: max-content;
}

table td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}
 table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table td.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
table td input {
    width: 80%;
    height: 30px;
    border: 1px solid #232d61;
    padding: 5px 10px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #539d82;
    color: white;
    text-align: center;
    background-color: #71cfdb;
  }